.content-wrapper {
    background: #fff;
}
.admin-form {
    .alert-danger {
        background-color: transparent !important;
        color: #dd4b39 !important;
    }
}
.flex-wrapper {
    display: flex;
    flex-wrap: wrap;
}
